.logo-concessionaire {
  left: 50% !important;
  bottom: unset !important;
  transform: translateX(-50%) !important;
  top: 10px !important;
  opacity: 1 !important;
  z-index: 1030 !important;
}

.eqp-jumbotron {
  margin: 0 10px;
  position: fixed;
  padding-top: 1rem;
  top: 65px;
  bottom: 45px;
  right: 5px;
  left: 5px;
  margin-top: 10px;
}

.eqp-dark {
  padding-top: 0rem;
  height: 50%;
}

.card-scroll {
	overflow: auto;
    height: 100%;
}

.card-scrollable {
	overflow-y: auto;
    height: 100%;
}

.eqp-card{
	  background: linear-gradient(120deg, rgb(60 60 60) 0%, rgb(140 140 140) 35%, rgb(56 56 56) 100%);
	  height: 52%;
}

.eqp-card-details{
	  background: linear-gradient(120deg, rgb(60 60 60) 0%, rgb(140 140 140) 35%, rgb(56 56 56) 100%);
	  /* height: 40%; */
}

.eqp-form {
	cursor: pointer;
	border-width: 1px !important;
}

.list-eqp {
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
}

.text-shadow {
	text-shadow: 2px 2px 1px black;
}