/*
 * General styles
 */

body, html{    
 	background-color:  #FFFFFF; 	
 	 
}

body{
	overflow-y: hidden;
}

.main{
 	margin-top: 25px; 	
}

.title { 
	font-size: 30px;	
	font-weight: 400;
	color: black;	
}

.change-password-divide{
	background: black;
	padding-bottom: 1.5px;
	margin-bottom: 5px;
}

#change-password-form{
	margin-top: 10%;	
}

.form-group{
	margin-bottom: 10px;
}

input,
input::-webkit-input-placeholder {   
    display:flex;
    flex-grow:1;
}
.col-sm-9{
	margin-left: -3.75%;
}
.col-sm-6{
	margin-left: -3.75%;
}

/* CONTEUDO PRINCIPAL QUE ENCAPSULA O FORM */
.form-container{
background-color: #212121; 
border: 1px solid #212121;
/* shadows and rounded borders */   
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
position: relative;
margin-left: 25%;
margin-top: 5%;   
}

/* CONTEUDO DO FORM */
.form-box{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 520px;
    padding: 40px 40px;
    background-color:#E8E8E8;
    border: none;
}

.form-box .form-group input, .ui-select-level{	
	height: 40px;
	border: 1px solid #555;
	border-radius: 5px;
	outline: none;
	background: white;
	padding-left: 25px;		
	}	

.form-box .button[type="submit"]{
	border: none;
	cursor: pointer;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
}

.unlock-icon, .key-icon, .lock-icon{
margin-top: 8px;
font-size: 24px;
color:#fff; 
}

.input-group-addon{
background: #212121;
color: #fff;
width: 40px;
height: auto;	
}

.square-user {
    position: absolute;    
    top: 14px; 
    left: 34px;	
    width: 12px;
    height: 12px;
    border-top: 1px solid rgba(0,0,0,.15);
    border-left: 1px solid rgba(0,0,0,.15);
    background-color: #212121;
    transform: rotate(45deg);
	z-index: 9999;
}

/*Buttons DIV*/

.buttons{
margin-top: 5%;
margin-bottom: 5%;
position: relative;
margin-left: 0px;
width: 100%;
border: none;
padding-bottom: 5px;		
}

/*buttons*/
.change-button{float:left;  margin-left: 35px;}
.cancel-button{float: right; margin-right: 42px;}

.groupFieldsPassword{
	border: none;
	width: 40%;	
	margin-left: 30%;
	margin-top: 60px;
	border-radius: 15px;		
}

/*Title DIV*/
.titleFieldsPassword{
	position: absolute;	
	border: none;
	width: 25%;
	margin-top: 0px;
	margin-left: 2.5%;
}

.titleGroupHr{
	background: black;
	padding-bottom: 0.75px;
	margin-bottom: 5px;	
	margin-bottom: 15px;
	width: 90%;
	margin-left: 4%;
}

/*Title DIV*/
.input-fields, .select-fields{
	position: relative;	
	border: none;
	height: 65px;	
}
	
.input-fields input, .select-fields select{
width: 100%;
height: 40px;
margin-bottom: 20px;
border: 1px solid #767676;
border-radius: 25px;
outline: none;
background: white;
padding-left: 45px;	
	
}	
	
.input-fields input:focus, 
.select-fields select:focus
{
   border-bottom: 2px solid   #1C86EE; /*#dc3545*/
   box-shadow: 2px 2px 2px  #1C86EE;
}
	
.input-fields span, .select-fields span{
	position: absolute;
	top: 8px;
	padding-left: 15px;
	color: #292525;
	height: 40px;
}

/*Buttons DIV*/

#buttons-action{
	position: relative;
	margin-left: 0px;
	width: 100%;
	border: none;
	margin-top: 15px;
}

/*buttons*/
.btn-change{margin-left: 10px;}
.btn-cancel{margin-left: 22px; }
 
 .btn-dark{
 width: 100px;
 }
 
 /*Error Label Class*/
label.error{	
  position: absolute;
  color: #dc4535;
  font-size: 12px;
  border: none; 
}

/*Error Label Ids*/

label#password-error, label#newPassword-error, label#confPassword-error{
	margin-top: -15px;
	margin-left: 10%;	
}

.invalid
{
    border:1px solid red !important;
    -moz-box-shadow: 0 0 3px red;
    -webkit-box-shadow: 0 0 3px red;
    box-shadow: 0 0 3px red;  
    border-radius:5px; 
    -moz-border-radius:5px;  
    border-bottom: 2px solid   #dc4535 !important; /*#dc3545*/
    box-shadow: 2px 2px 2px  #dc4535 !important;
     /* background: url(/Tracevia/resources/icons/validation-icons/error.png) no-repeat right;*/
}

.valid
{    
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
     box-shadow: none; 
    /* background: url(/Tracevia/resources/icons/validation-icons/success.png) no-repeat right;*/
}	

/*inputs width*/
#userId{width: 35%;  margin-left: 5%;}
#fullname, #jobPosition, #email{width: 80%; margin-left: 5%;}
#username{width: 60%;  margin-left: 5%;}
#permissions{width: 60%;  margin-left: 5%;}

select.error, input.error {
    color: #dc4535;
    border: 1px solid red;
     border-bottom: 2px solid   #dc4535 !important; /*#dc3545*/
    box-shadow: 2px 2px 2px  #dc4535 !important;
}
