/*
 * General styles
 */

body, html{    
	width: 100%;
	height: 100%; 	
 	overflow-y: hidden;
}

.change-password-divide{
	background: black;
	padding-bottom: 1.5px;
	margin-bottom: 5px;
}

#change-password-form{
	margin-top: 10%;	
}


input,
input::-webkit-input-placeholder {   
    display:flex;
    flex-grow:1;
}
.col-sm-9{
	margin-left: -3.75%;
}
.col-sm-6{
	margin-left: -3.75%;
}

.groupFieldsPassword{
	border: none;
	width: 40%;	
	margin-left: 30%;
	margin-top: 60px;
	border-radius: 15px;		
}

/*Title DIV*/
.titleFieldsPassword{
	position: absolute;	
	border: none;
	width: 25%;
	margin-top: 0px;
	margin-left: 2.5%;
	color: black;
}

.titleGroupHr{
	background: black;
	padding-bottom: 0.75px;
	margin-bottom: 5px;	
	margin-bottom: 15px;
	width: 90%;
	margin-left: 4%;
}

/*Title DIV*/
.input-fields{
	position: relative;	
	border: none;
	height: 65px;	
}
	
.input-fields input{
width: 100%;
height: 40px;
margin-bottom: 20px;
border: 1px solid #767676;
border-radius: 25px;
outline: none;
background: white;
padding-left: 45px;	
	
}	
	
.input-fields input:focus
{
   border-bottom: 2px solid   #1C86EE; /*#dc3545*/
   box-shadow: 2px 2px 2px  #1C86EE;
}
	
.input-fields span{
	position: absolute;
	top: 8px;
	padding-left: 15px;
	color: #292525;
	height: 40px;
}

/* fields */
#password, #newPassword, #confPassword {width: 100%;}


/* buttons div content */
#buttons {
	width: 100%;
	border: 1px solid transparent;
	height: 50px;
	margin-top: 1.5%;
}

/* divs inside buttons div */
 #btn-change, #btn-reset{
	border: 1px solid transparent;
	height: 40px;	
	float: left;
}

/* div for reset button config */
#btn-change{
	margin-left: 1%;
	width: 120px;
}

#btn-reset {
	margin-left: 0.75%;
	width: 120px;
}

.draw-button {
	margin-top: 1.25%;
	border: none;
	cursor: pointer;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
}

/* style hover for draw-button */
.draw-button:hover {
	-webkit-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
}
