@charset "ISO-8859-1";

body {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

/*Road Map Image for Background */

.img > div {
  margin: "auto";
  position: "absolute";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-content {
  position: relative;
  border: 1px solid purple;
  width: 100%;
  height: 100%;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  transform: scale(0.23);
  margin-left: -35%;
  transition: transform 0.3s;
}

.map-content:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.grab-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  z-index: -1;
}

.grab-map:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.overflow {
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
  width: 100%;
}

#map {
  width: auto;
  height: auto;
  border: none;
}

#zoomtext {
  transform: scale(1);
  position: relative;
}

.section {
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  border: none;
}

/* GRID CROPPED MAP */

.grid-img {
  width: 100%;
  height: 230px;
  box-shadow: 0px 0px 8px black;
}

.grid-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card {
  z-index: 9999;
}


.ui-graphic-image {
  width: 52px;
  height: 52px;
}

.equip-graphic {
  border: none;
  float: left;
  width: 100%;
  height: 80%;
  margin-top: 0%;
  margin-left: 0%;
  padding-top: 0%;
  border: none;
  vertical-align: center;
  position: absolute;
}

.equip-graphic .equip-image {
  vertical-align: top;
  margin-top: 0%;
  width: 20%;
  height: 20%;
  border: none;
}


/* TABLES IMG EQUIP PREVIEW */
.table-img {
  position: absolute;
  margin-top: 2%;
  margin-left: 2.5%;
  width: 18%;
  height: 97px;
}

/* TABLES IMG EQUIP PREVIEW */

/* TABLE GENERIC */
.table-generic {
  white-space: normal-wrap;
  word-wrap: break-word;
  width: 25%;
  max-height: 3px;
}
table td {
  height: 3px !important;
  padding: 0px;
}

table {
  border-collapse: separate;
  border-spacing: -5px;
  margin: 0 0 0 0;
}

.equip-name label {
  margin-top: -12.5px;
  font-size: 5px;
}
/* BUTTON ADD EQUIP */

.add_equip {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 100;
  padding: 10px;
  background-color: #343a40;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.add_equip:hover {
  background: #212529;
  border: solid #5c5d5e 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.fa-circle {
  color: #00ff0d;
}

.equip-box-sat { 
  height: auto!important;
}

.equip-box,
.equip-info {
  transform-origin: 50% 70% !important;
}

/* MENU TEST */
.factorMenu {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  font-size: 28px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.9);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 44px;
  height: 44px;
}

.factorMenu:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.factorMenu:focus {
  outline: 0;
}

/* ZOOM BUTTOSNS */
.zoomButton {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  font-size: 18px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 1);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.zoomButton:focus {
  outline: 0;
  color: #555;
}

.zoomFull {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  font-size: 18px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 1);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-top: 20px;
  cursor: pointer;
}

.zoomFull:focus {
  outline: 0;
  color: #555;
}

/* RETURN FULLSCREEN MAP */
.fullBodys {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  font-size: 18px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 1);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.fullBodys:focus {
  outline: 0;
  color: #555;
}

/* MAP OPTIONS DIV */
.map-options {
  position: absolute;
  width: 700px;
  height: 50px;
  z-index: 9999;
  margin-top: 1px;
  margin-left: 5px;
}

#grabequips {
  position: absolute;
  z-index: 9;
}

#divide {
  margin-left: -3px;
  margin-top: 2px;
}
#zoomIn {
  margin-left: 55px;
  margin-top: 2px;
}
#zoomOut {
  margin-left: 95px;
  margin-top: 2px;
}
#fullbody {
  margin-left: 135px;
  margin-top: 2px;
}

#addequip {
  margin-left: 190px;
  margin-top: 2px;
}

#cancelPos {
  margin-left: 15px;
}

/* MAP OPTIONS DIV */
.map-full-option {
  float: right;
  position: absolute;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
  z-index: 9999;
  margin-top: -3px;
  margin-left: 5px;
}

#full {
  margin-left: -4px;
  margin-top: 1px;
}

#zoomIn1 {
  margin-top: -120px;
  margin-left: -60px;
  position: fixed;
}
#zoomOut1 {
  margin-top: -100px;
  margin-left: -60px;
  position: fixed;
}
#fulldiv1 {
  margin-top: -80px;
  margin-left: -60px;
  position: fixed;
}

#zoomIn2 {
  margin-top: -160px;
  margin-left: -60px;
  position: fixed;	
}
#zoomOut2 {
  margin-top: -140px;
  margin-left: -60px;
  position: fixed;
}
#fulldiv2 {
  margin-top: -120px;
  margin-left: -60px;
  position: fixed;
}

#zoomIn3 {
  margin-top: -160px;
  margin-left: -60px;
  position: fixed;
}
#zoomOut3 {
  margin-top: -140px;
  margin-left: -60px;
  position: fixed;
}
#fulldiv3 {
  margin-top: -120px;
  margin-left: -60px;
  position: fixed;
}

/* MAP DIVISION/SHOW BUTTON */
.MapDiv {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  background-color: rgba(254, 254, 255, 0.42);
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  margin-top: -10px;
}

#divide:hover {
  background: rgba(120, 120, 120, 0.41);
  border: solid #000000 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
}

.MapShow {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  background-color: rgba(254, 254, 255, 0.42);
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
}

#full:hover {
  background: rgba(120, 120, 120, 0.41);
  border: solid #000000 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
}

.img-enlargeable > div {
  transform: scale(2);
  cursor: zoom-out;
}

/* MAP DIVISION/ZOOM */
img.box-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: zoom-in;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img.box-img[zoom] {
  height: 200%;	
  width: 200%;
  top: 100%;
  left: 100%;
}

.squarebox {
  float: left;
  position: relative;
  width: 80%;
  padding-right: 10px;
  left: 10%;
  background-size: cover;
  overflow: hidden;
}

/* DROPDOWN BUTTONS */

.dropbtnmodal {
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 100;
  padding: 16px;
  background-color: #101010;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Drop Down SELECT Event */
.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 50%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}

.save-equip {
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 100;
  padding: 16px;
  background-color: #bd2727;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.save-equip:hover {
  background: #741d1d;
  border: solid #dd380d 1px;
  text-decoration: none;
}
/* CREATION */

[id$="equips"] {
  width: 100%;
}
[id$="equipsType"] {
  width: 100%;
}
[id$="equipId"] {
  width: 100%;
}
[id$="dmsType"] {
  width: 100%;
}
[id$="dmsIp"] {
  width: 100%;
}
[id$="equipName"] {
  width: 100%;
}
[id$="km"] {
  width: 100%;
}  
[id$="cities"] {
  width: 100%;
} 
[id$="roads"] {
  width: 100%;
}

/* EDIT */

[id$="equips-edit"] {
  width: 100%;
}
[id$="equipId-edit"] {
  width: 100%;
}
[id$="dmsType-edit"] {
  width: 100%;
}
[id$="dmsIp-edit"] {
  width: 100%;
}
[id$="equipNameEdit"] {
  width: 100%;
}

[id$="cities-edit"] {
  width: 100%;
} 
[id$="roads-edit"] {
  width: 100%;
}
[id$="km-edit"] {
  width: 100%;
}  
[id$="width-edit"] {
  width: 100%;   
}

[id$="cancelPos"] {
    margin-left: 14px;
}

/* Figura que representa qual item do dropdown est� selecionado - Menu esquerdo */
#square-factor {
  left: 8%;
} /* Mensagens */

/* Alteração de Guilherme */

#labelPos {
  position: fixed;
  left: 30px;
  bottom: 50px;
}

/* INPUT NUMBER ARROWS REMOVED */
	
/* Chrome, SAfari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* INPUT NUMBER ARROWS REMOVED END */

/* BUTTON EQUIP SIZE */

#dropdwnsizebtn {
	position: fixed;
	right: 20px;
	z-index: 999;
}
/* BUTTON EQUIP SIZE END */

/* MODAL SIZE EQUIP */

#szselect {
	z-index: 99999;
}

#moddialog {
	position: fixed;
	right: 20px;
	top: 113px;	
}

#modheaderpad {
	padding: 0;
}

#modborderpad {
	padding: 0;
}

#sizeeqps {
   position: absolute;
   top: 10px;
   right: 10px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.plaque {
  position: absolute;
  transform: translateX(-50%) scale(0.2);
  transform-origin: 50% 0%;
}

.km5 {
  left: 50px;
  top: 620px;
}

.km10 {
  left: 100px;
  top: 630px;
}

.km15 {
  left: 150px;
  top: 650px;
}

.km20 {
  left: 200px;
  top: 655px;
}

.km25 {
  left: 250px;
  top: 615px;
}

.km30 {
  left: 300px;
  top: 605px;
}

.km35 {
  left: 350px;
  top: 570px;
}

.km40 {
  left: 400px;
  top: 570px;
}

.km45 {
  left: 450px;
  top: 620px;
}

.km50 {
  left: 500px;
  top: 630px;
}

.km55 {
  left: 570px;
  top: 615px;
}

.km60 {
  left: 600px;
  top: 555px;
}

.km65 {
  left: 650px;
  top: 510px;
}

.km70 {
  left: 700px;
  top: 500px;
}

.km75 {
  left: 750px;
  top: 470px;
}

.km80 {
  left: 800px;
  top: 445px;
}

.km85 {
  left: 850px;
  top: 440px;
}

.km90 {
  left: 900px;
  top: 370px;
}

.km95 {
  left: 950px;
  top: 390px;
}

.km100 {
  left: 990px;
  top: 370px;
}

.modal-backdrop.in {
    opacity: 0 !important;
    z-index: -1050 !important;
}

.imgSize {
	width: 80px;
}

.bar {
  position: relative;
  width: 80%;
  margin: 20px auto;
  border: 1px black solid;
  border-radius: 100%;
}

.bar .bar-ball {
  position: absolute;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 100%;
  cursor: grab;
}

.bar .bar-ball:active {
  cursor: grabbing;
}

/* MODAL SIZE EQUIP END */

/* ALL MODALS */

#modaladd {
z-index: 10030;
margin-top: 0%;
}

#OPmodal {
z-index: 10030;
}

#editmodal {
z-index: 10030;
margin-top: -2.5%;
}

.btn-all-equip{
  width: 70px;
  padding-left: 10px !important;
}

#deletemodal {
z-index: 10030;
}

.addbox {
  margin-top: 0%;
}

#bodyeqp {
margin-top: 0%;
}

#bodyadd {
margin-top: 0%;
}

/* ALL MODALS END*/

/* ALERTS STYLE */

#realsave, #realcancel, #equip-save, #equip-save-error, 
#equip-update, #equip-update-error, #equip-delete, #equip-delete-error {
height: 23px;
}

.textAlert{
margin-top: -12px;
font: 12pt;
text-align: center;
}

/* ALERTS STYLE END*/

/* CHECKBOXS */

.check-dir {
	margin-left: 10%;
}

.road-dir {
	margin-left: 4px;
}
/* CHECKBOXS END */

#modaladd{
	margin-top: -25px;
}

/* MODAL NEW */
/* TABLE SAT */

.table-sat {
	-webkit-box-shadow: initial !important;
	-moz-box-shadow: initial !important;
	box-shadow: initial !important;
}

/* TABLE SAT END */

/* PMV */
.driver3.equip-info .padding-pmv, .driver3 .equip-info .padding-pmv {
  margin-left: 1px !important;
}

.driver3.equip-info .second-img, .driver3 .equip-info .second-img {
  margin-right: 37px !important;
}

.driver3.equip-info .msg-pos, .driver3 .equip-info .msg-pos {
  right: 51px !important;
}

.padding-pmv {
  margin-left: 4px !important;
}

.dmsHidden {
  display: none;  
}
  
.dmsHidden-edit {
  display: none;
}

.mtoHidden {
  display: none;
}

.mtoHidden-edit {
  display: none;
}

/* Disabled bubttons on edit modal */
input#equipId-edit:disabled, input#dmsType-edit:disabled {
opacity: 0.7;
 }

/* MODAL CANCEL DELETE */
.cancel{	
	margin-left: 7px;
} 
/* DELETE MODAL MESSAGE POS*/
.delete-message{
	margin-left: 20%;
}

/* EQUIPMENTS INFO TOOLTIPS */

.tooltip > .tooltip-inner {background-color: #007bff;}

.tooltip.show {
    opacity: 1;
}

.popover{
	z-index: 10040;
}


.teste{
	font-size: 15px;
}

.equip-label{
	color: black;
}

.call-box-action{
    animation: shake 0.82s infinite cubic-bezier(.36,.07,.19,.97) both;
	
}

@keyframes shake {
	
  10%, 90% {
    transform: translate3d(-1px, 0, 0) scale(1) ;
    transform-origin: 50% 50%;
    
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0) scale(1) ;
    transform-origin: 50% 50%;
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(1) ;
    transform-origin: 50% 50%;
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) scale(1) ;
    transform-origin: 50% 50%;
  } 
  
}
