@charset "ISO-8859-1";

body {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0 0 0px !important; /* bottom = footer height */		
}

/*Road Map Image for Background */

.img > div {
  margin: "auto";
  position: "absolute";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-content {
  position: relative;
  border: 1px solid purple;
  width: 100%;
  height: 100%;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  transform: scale(0.23);
  margin-left: -35%;
  transition: transform 0.3s;
}

.map-content:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.grab-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  z-index: -1;
}

.grab-map:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.overflow {
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#map {
  width: auto;
  height: auto;
  border: none;
}

#zoomtext {
  transform: scale(1);
  position: relative;
}

.section {
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  border: none;
}


.card {
  z-index: 9999;
}

.ui-graphic-image {
  width: 52px;
  height: 52px;
}

.equip-graphic {
  border: none;
  float: left;
  width: 100%;
  height: 80%;
  margin-top: 0%;
  margin-left: 0%;
  padding-top: 0%;
  border: none;
  vertical-align: center;
  position: absolute;
}

.equip-graphic .equip-image {
  vertical-align: top;
  margin-top: 0%;
  width: 20%;
  height: 20%;
  border: none;
}

.equip-box,
.equip-info {
  transform-origin: 50% 70% !important;
}

/* TABLES MSG EQUIP PREVIEW */

/* TABLES MSG EQUIP PREVIEW */

/* TABLES IMG EQUIP PREVIEW */
.table-img {
  position: absolute;
  margin-top: 2%;
  margin-left: 2.5%;
  width: 18%;
  height: 97px;
}

/* TABLES IMG EQUIP PREVIEW */

/* TABLE GENERIC */
.table-generic {
  white-space: normal-wrap;
  word-wrap: break-word;
  width: 25%;
  max-height: 3px;
}

.equip-name label {
  margin-top: -12.5px;
  font-size: 5px;
}

.equip-header {
  color: #878d8d;
}

.fa-circle {
  color: #00ff0d;
}

/* MENU TEST */
.factorMenu {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  font-size: 28px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.9);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 44px;
  height: 44px;
}

.factorMenu:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.factorMenu:focus {
  outline: 0;
}

/* RETURN FULLSCREEN MAP */
.fullBodys {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  font-size: 18px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 1);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.fullBodys:focus {
  outline: 0;
  color: #555;
}

/* MAP OPTIONS DIV */
.map-options {
  position: absolute;
  width: 700px;
  height: 50px;
  z-index: 9999;
  margin-top: 1px;
  margin-left: 5px;
}

#grabequips {
  position: absolute;
  z-index: 9;
}

/* MAP DIVISION/SHOW BUTTON */
.MapDiv {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  background-color: rgba(254, 254, 255, 0.42);
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  margin-top: -10px;
}

.MapShow {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  background-color: rgba(254, 254, 255, 0.42);
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
}

.img-enlargeable > div {
  transform: scale(2);
  cursor: zoom-out;
}


[id$="equipId"] {
  width: 80%;
}
[id$="equipName"] {
  width: 100%;
}
[id$="width"] {
  width: 130%;
}
[id$="km"] {
  width: 80%;
}

/* Figura que representa qual item do dropdown est� selecionado - Menu esquerdo */
#square-factor {
  left: 8%;
} /* Mensagens */

/* Alteração de Guilherme */

#labelPos {
  position: fixed;
  left: 30px;
  bottom: 50px;
}

main > div:first-child {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0;
}

.imgSize {
	width: 80px;
}

/* MODAL SIZE EQUIP END */

/* TABLE SAT */

.table-sat {
	-webkit-box-shadow: initial !important;
	-moz-box-shadow: initial !important;
	box-shadow: initial !important;
}

/* TABLE SAT END */

/* PMV */
.driver3.equip-info .padding-pmv, .driver3 .equip-info .padding-pmv {
  margin-left: 1px !important;
}

.driver3.equip-info .second-img, .driver3 .equip-info .second-img {
  margin-right: 37px !important;
}

.driver3.equip-info .msg-pos, .driver3 .equip-info .msg-pos {
  right: 51px !important;
}

.padding-pmv {
  margin-left: 4px !important;
}

/* PMV END */

/* PLAQUES */

.plaque {
  position: absolute;
  transform: translateX(-50%) scale(0.2);
  transform-origin: 50% 0%;
}

.km5 {
  left: 50px;
  top: 630px;
}

.km10 {
  left: 100px;
  top: 660px;
}

.km15 {
  left: 147px;
  top: 670px;
}

.km20 {
  left: 183px;
  top: 670px;
}

.km25 {
  left: 206px;
  top: 670px;
}

.km30 {
  left: 257px;
  top: 615px;
}

.km35 {
  left: 338px;
  top: 610px;
}

.km40 {
  left: 400px;
  top: 585px;
}

.km45 {
  left: 430px;
  top: 610px;
}

.km50 {
  left: 460px;
  top: 630px;
}

.km55 {
  left: 578px;
  top: 627px;
}

.km60 {
  left: 641px;
  top: 570px;
}

.km65 {
  left: 685px;
  top: 560px;
}

.km70 {
  left: 720px;
  top: 542px;
}

.km75 {
  left: 770px;
  top: 520px;
}

.km80 {
  left: 805px;
  top: 500px;
}

.km85 {
  left: 838px;
  top: 465px;
}

.km90 {
  left: 892px;
  top: 460px;
}

.km95 {
  left: 937px;
  top: 410px;
}

.km100 {
  left: 973px;
  top: 412px;
}
