.logo-concessionaire {
  left: 50% !important;
  bottom: unset !important;
  transform: translateX(-50%) !important;
  top: 10px !important;
  opacity: 1 !important;
  z-index: 1030 !important;
}

#first-sens{
  border-style: double;
  width: 100%;	
}

#second-sens{
  border-style: double;	
  width: 100%;	
}

#third-sens{
  border-style: double;
  width: 100%;		
}

#fourth-sens{
  border-style: double;
  width: 100%;		
}