@charset "ISO-8859-1";

body {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* **********************  MAP OPTIONS DIV ***********************************/

.messages{
	position: relative;
	width: 100%;
	height: 28px;
	margin-top: -46px;
}

/* MAP OPTIONS DEFINITIONS */
.map-options {  
  position: absolute;
  width: 700px;
  height: 50px;
  z-index: 9999;
  margin-top: -30px;
  margin-left: 5px;
}

/* ZOOM BUTTONS */
.zoomButton {
  position: absolute;
  display: block;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  font-size: 18px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 1);
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* ZOOM FOCUS */
.zoomButton:focus {
  outline: 0;
  color: #555;
}

/* ZOOM IN BUTTON */
#zoomIn {
  margin-left: 45px;
  margin-top: 2px;
}

/* ZOOM OUT BUTTON */
#zoomOut {
  margin-left: 85px;
  margin-top: 2px;
}

/* ADD EQUIP BUTTON */
#addequip {
  margin-left: 150px;
  margin-top: 5px;
}

/* CANCEL POS BUTTON */
#cancelPos {
  margin-left: 15px;
}

/* OVERFLOW CONTENT */
#content{
 margin-top: 45px;
}

/* **********************  MAP CONTENT ***********************************/

.overflow {
  border: 1px solid none;
  position: relative;
  overflow: hidden;
   width: 100%;
  height: 100%;
  transform-origin: 0 0;
  border: none;
}

.section {	  
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  border: none;
  transform: scale(1);
  margin-top: 0px;
  
}

.grab-map {
  position: absolute;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  z-index: -1;
  border: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

.grab-map:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.draggable .equip-box,
.draggable .equip-info {
  transform: translate(-50%, -50%);  
}

/* **********************  MODAL CONTENTS ***********************************/

/* CREATION */

[id$="equips"] {
  width: 100%;
}
[id$="equipId"] {
  width: 100%;
}
[id$="dmsType"] {
  width: 100%;
}
[id$="dmsIp"] {
  width: 100%;
}
[id$="equipName"] {
  width: 100%;
}
[id$="km"] {
  width: 100%;
}  
[id$="cities"] {
  width: 100%;
} 
[id$="roads"] {
  width: 100%;
}

/* EDIT */

[id$="equips-edit"] {
  width: 100%;
}
[id$="equipId-edit"] {
  width: 100%;
}
[id$="dmsType-edit"] {
  width: 100%;
}
[id$="dmsIp-edit"] {
  width: 100%;
}
[id$="equipNameEdit"] {
  width: 100%;
}

[id$="cities-edit"] {
  width: 100%;
} 
[id$="roads-edit"] {
  width: 100%;
}
[id$="km-edit"] {
  width: 100%;
}  
[id$="width-edit"] {
  width: 100%;   
}

[id$="cancelPos"] {
    margin-left: 14px;
}

/* LABEL SHOW POS */
#labelPos {
  position: fixed;
  left: 30px;
  bottom: 50px;
}

/* ALL MODALS */

#modaladd {
z-index: 10030;
margin-top: 0%;
}

#OPmodal {
z-index: 10030;
}

#editmodal {
z-index: 10030;
margin-top: -2.5%;
}

#deletemodal {
z-index: 10030;
}

.addbox {
  margin-top: 0%;
}

#bodyeqp {
margin-top: 0%;
}

#bodyadd {
margin-top: 0%;
}

/* ALL MODALS END*/

/* ALERTS STYLE */

#realsave, #realcancel, #equip-save, #equip-save-error, 
#equip-update, #equip-update-error, #equip-delete, #equip-delete-error {
height: 23px;
}

.textAlert{
margin-top: -12px;
font: 12pt;
text-align: center;
}

/* ALERTS STYLE END*/

/* CHECKBOXS */

.check-dir {
	margin-left: 10%;
}

.road-dir {
	margin-left: 4px;
}
/* CHECKBOXS END */

#modaladd{
	margin-top: -25px;
}

.dmsHidden {
  display: none;  
}
  
.dmsHidden-edit {
  display: none;
}

/* Disabled bubttons on edit modal */
input#equipId-edit:disabled, input#dmsType-edit:disabled {
opacity: 0.7;
 }

/* MODAL CANCEL DELETE */
.cancel{	
	margin-left: 7px;
} 
/* DELETE MODAL MESSAGE POS*/
.delete-message{
	margin-left: 20%;
}

/* **********************  POPOVER & TOOLTIP ***********************************/

.tooltip > .tooltip-inner {background-color: #007bff;}

.tooltip.show {
    opacity: 1;
}

.popover{
	z-index: 10040;
}

/* **********************  DMS ***********************************/

.driver3.equip-info .padding-pmv, .driver3 .equip-info .padding-pmv {
  margin-left: 1px !important;
}

.driver3.equip-info .second-img, .driver3 .equip-info .second-img {
  margin-right: 37px !important;
}

.driver3.equip-info .msg-pos, .driver3 .equip-info .msg-pos {
  right: 51px !important;
}

.padding-pmv {
  margin-left: 4px !important;
}

