@charset "ISO-8859-1";

body {
  overflow: hidden;
}

/*Road Map Image for Background */
.map-content {
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.map-content:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.map-content img {
  width: 1362px;
}

.overflow {
  position: relative;
  border: 1px solid transparent;
  overflow-x: hidden;
  overflow-y: overlay; /* old --> overlay */
  width: 100%;
  height: 100%;
}

#map {
  width: 250%;
  height: 100%;
  margin-left: 0%;
}

#zoomtext {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

/* PMV USAGE*/
.equip-info {
  position: absolute;
  font-size: 5px;
}

.equip-info .tableStyle {
  position: relative;
  font-size: 10px;
  width: 250px;
  border: none;
  background: #333333;
  border-right: 6px solid #00fa9a;
  border-radius: 0;
}
.border-table {
  border-top-style: solid;
  height: 17px;
  border-left-style: solid;
  background-color: #5d5d5d;
  border-color: #000000;
  border-width: 1px;
}

.border-table-right.bottom {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.border-table-right {
  border-right-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.padding-pmv {
  padding: 3px;
}

/* EQUIPS WHIT IMAGE USAGE*/
.equip-box {
  position: absolute;
  background: transparent;
  border-right: none;
  float: left;
  text-align: center;
  overflow: hidden;
  border: 1px solid transparent;
  z-index: 9999; /* nï¿½mero mï¿½ximo ï¿½ 9999 */
}


/*
.equip-graphic{
	position: relative;
	border:1px solid white;	
	width: 75px;
	height: 75px;
}

.equip-image{
	width: 50px;
	height: 50px;

}

.square-equip {
    position: absolute;    
    top: 14px; 
    left: 34px;	
    width: 12px;
    height: 12px;
    border-top: 1px solid rgba(0,0,0,.15);
    border-left: 1px solid rgba(0,0,0,.15);
    background-color: #333333;
    transform: rotate(45deg);
	z-index: 9999;
}*/

/* EQUIPS WHIT IMAGE USAGE*/

/*Nome do Equipamento*/
.dms-name {
  width: 100%;
  height: auto;
  color: #fff;
  margin-top: 0%;
  border: 1px solid transparent;
  float: left;
  font-weight: 400;
}

.dms-name .dms-header-table {
  width: 100%;
  background: transparent;
  text-align: center;
  margin-left: 0.2px;
}

#child-img {
  border: none;
  float: left;
  width: 20%;
  height: 70%;
  margin-top: -0.5%;
  margin-left: 0.8%;
  padding-top: 0%;
}

.ui-graphic-image {
  vertical-align: top;
  margin-top: 0%;
  width: 100%;
  height: 100%;
}

/*table de mensagens*/
#child-msg {
  border: 1px solid transparent;
  float: left;
  width: 78%;
  height: 70%;
  margin-top: -0.5%;
  margin-left: 0.2%;
  padding-bottom: 3%;
  background: #444444;
}

#child-msg .table-message td {
  border: 1px solid #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffff00;
  text-align: center;
}

#messages-selection {
  width: auto;
  height: auto !important;
  margin-top: -5%;
  color: #ffff00;
}

.ui-graphic-board1 {
  width: 100%;
  height: 40px;
}

.ui-dialog-titlebar {
  background: #ffff00;
  color: #555;
}

.ui-dialog-title {
  margin-left: 150px;
}
.info-link1 {
  margin-top: 0%;
  background-color: #4caf50 !important;
  margin-right: 89% !important;
}
.ui-datatable-scrollable-theadclone {
  visibility: collapse;
}
.ui-datatable-scrollable-header {
  background: #ffff00;
  color: #555;
}
.picture-box {
  height: 1% !important;
}

.modal-footer {
  margin-top: 32% !important;
}

.ui-dialog {
  position: fixed;
  text-align: center;
  overflow-y: hidden !important;
}

.name .table-header {
  margin: 0 auto;
  font-size: 10px;
}

/* GENERIC EQUIPMENTS  */

.equip-name {
  /* width: auto;
   height: auto; 
   margin-top: 1%;
   text-align: center;
   border: none;*/
  position: relative;
  margin-top: 0%;
  overflow: hidden;
  background: transparent;
  color: black;
  font-weight: bold;
  width: 99%;
  height: 20%;
  text-align: center;
  border: none;
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.equip-graphic {
  border: none;
  float: left;
  width: 100%;
  height: 80%;
  margin-top: 0%;
  margin-left: 0%;
  padding-top: 0%;
  border: none;
  vertical-align: center;
}

.equip-graphic .equip-image {
  vertical-align: top;
  margin-top: 0%;
  width: 100%;
  height: 100%;
  border: none;
}

/*GENERIC EQUIP CONF*/
.generic-name {
  width: 100%;
  height: auto;
  color: #000;
  margin-top: 0%;
  border: none;
  float: left;
  font-weight: 400;
}

.table-generic {
  text-align: center;
  vertical-align: middle;
  white-space: normal-wrap;
  border: 1px solid transparent;
  width: 100%;
}

.table-generic td {
  background: transparent;
}

/*GENERIC EQUIP CONF*/

/*Mostrar/Esconder equipamentos no real time*/
.show-equipments {
  display: block;
}

.hide-equipments {
  display: none;
}

/* EQUIPS SATS*/
.equip-box-sat {
  position: absolute;
  z-index: 1000; /* nï¿½mero mï¿½ximo ï¿½ 9999 */
  height: 75px;
  width: 100px;
}

.satName {
  font-size: 10px;
}

/*Table Sat*/
.table-sat {
  width: 95%;
  text-align: center;
  table-layout: auto !important;
  color: #212121;
  font-size: 10px;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#content {
	margin-top: 0px;
}

.table-sat tr,
.table-sat td {
  border: 1px solid #363636;
  max-width: 100%;
  white-space: nowrap;
}

.sat-cars {
  float: left;
  font-size: 10px;
  /*color: #878d8d;*/
  margin-top: 3px;
  margin-left: 0.75px;
}

.sat-speed {
  float: left;
  font-size: 10px;
  margin-top: 3.5px;
  margin-left: 0.75px;
  /*color: #878d8d;*/
}

.padding-sat {
  padding: 0;
  width: 45px;
}

/*REAL TIME SAT*/

#fluxos {
  margin-top: 0px !important;
  margin-left: 0px;
  opacity: 0.8;
  border: 1px solid transparent;
}

#fluxos div {
  height: 9px;
}

.padding-sat .km {
  font-size: 7px;
}

/*REAL TIME SAT*/

.equip-image {
  margin-top: 0%;
  width: 70%;
  height: 40%;
  border: none;
}

.equip-imagePOST {
  vertical-align: top;
  margin-top: -20%;
  width: 100%;
  height: 50%;
  border: none;
}

.equip-imageCAM {
  vertical-align: top;
  margin-top: -20%;
  width: 80%;
  height: 30%;
  border: none;
}

.generic-text{
font-size: 45px;
font-weight: bold;	
}

/*Conteúdo interno dos equipamentos genéricos*/
.equip-status {
  width: 30px;
  height: 30px;
  background-color: #00ff0d;
  border-radius: 50%;
  position: absolute;
  right: 22px;
  top: 14px;
}

.generic{
 width: auto;
 display: block;
}

/* EQUIPMENTS INFO POPOVERS */

.popover-header{
  background: #007bff !important;
  color: white;
  font-size: 12px;
}

.popover-body{font-size: 12px;}

/* EQUIPMENTS INFO POPOVERS */

/* MARGIN LEFT */

.equip-label-left{
   margin-left: 10px;	
}
