.equip-info {
  font-size: 5px;
  position: absolute;
  left: 50%;
  width: 250px;
}

#page-pmv {
  position: relative;
  text-align: center;
}

.equip-info .tableStyle {
  position: relative;
  font-size: 10px;
  width: 250px;
  height: 69px;
  border: none;
  background: #333333;
  border-right: 6px solid #ff0000; /*#00fa9a;*/
  border-radius: 0;
}

.equip-info .tableStyle.on {
  border-right: 6px solid #00fa9a;
}

.equip-info .tableStyle.change {
  border-right: 6px solid #00BFFF;
}

.equip-info .tableStyle.preview {
  border-image: linear-gradient(16deg, #ff0000 45%, #00BFFF 60%) 1 100%;
  opacity: 1 !important;
}

.equip-info .tableStyle.on.preview {
  border-image: linear-gradient(16deg, #00fa9a 45%, #00BFFF 60%) 1 100%;
}
  

.equip-info .tableStyle.unchanged {
  opacity: .6;
}

.equip-info.unable {
  opacity: .4;
}

.dms-name {
  margin-bottom: -5px;
  height: 13px;
  color: white;
}

.namePMV {
  float: left;
  margin-left: 25%;
}

.kmPMV {
  float: right;
  margin-right: 25%;
}

.border-table {
  border-top-style: solid;
  height: 17px;
  border-left-style: solid;
  background-color: #5d5d5d;
  border-color: #000000;
  border-width: 1px;
}

.border-table-right.bottom {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.border-table-right {
  border-right-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.padding-pmv {
  margin-left: 7px;
  margin-top: 6px;
}

.picture-box {
  width: 52px;
  height: 52px;
}

.msg-pos {
  position: absolute;
  right: 5px;
  bottom: 3px;
}

.table-message {
  width: 150px;
  color: yellow;
  text-transform: uppercase;
}

.equip-info .second-img {
  display: none;
}

.driver2.equip-info .msg-pos,
.driver2 .equip-info .msg-pos {
  bottom: 7px !important;
}

.driver2.equip-info .message1,
.driver2 .equip-info .message1 {
  margin-bottom: 6px !important;
  border-bottom-style: solid !important;
}

.driver2.equip-info .message2,
.driver2 .equip-info .message2 {
  border-bottom-style: solid !important;
}

.driver2.equip-info .message3,
.driver2 .equip-info .message3 {
  display: none !important;
}

.driver2 #input-message-3 {
  display: none !important;
}

.driver3.equip-info .msg-pos,
.driver3 .equip-info .msg-pos {
  right: 55px !important;
}

.driver3.equip-info .padding-pmv,
.driver3 .equip-info .padding-pmv {
  margin-left: 2px !important;
}

.driver3.equip-info .second-img,
.driver3 .equip-info .second-img {
  display: revert !important;
  margin-right: 33px;
  margin-top: 6px;
}

.driver3.equip-info .table-message,
.driver3 .equip-info .table-message {
  width: 110px !important;
}

/* sat info div*/
.dms-info-bagde {
  position: absolute;
  top: -6px;
  margin-left: -25px;
  background-color: #1e90ff;
  color: #ffffff !important;
  text-align: center;
  line-height: 14px;
  min-width: 14px;
  display: block;
  border-radius: 50%;
  float: left;
  cursor: pointer;
  z-index: 3;
  text-indent: 0px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
}

/* sat info icon hover */
.dms-info-bagde:hover {
  text-decoration: none;
  background: #ffc107;
  color: #555;
}

/* sat info icon focus */
.dms-info-bagde:focus {
  background: #000080;
  outline: none;
}