.card.panel-meteo-card {
    position: absolute;
    width: 10em !important;
}

.card.panel-meteo-card .card-header {
    padding-top: 0;
    padding-bottom: 0;
}

.card.panel-meteo-card .card-body {
    padding: 0 0.2em;
    background-color: #5d5d5d;
}

.card.panel-meteo-card .card-body .panel-meteo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid rgb(0,0,0);
    border-radius: .25rem;
    background: white;
    margin-top: .1em;
    margin-bottom: .1em;
    width: 100%;
    overflow: hidden;
}

.card.panel-meteo-card .card-body .panel-card {
    display: none;
    min-width: 50%;
    flex: 1 0 50%;
}

.card.panel-meteo-card .card-body .panel-card.on {
    display: block;
}

.card.panel-meteo-card .card-body .panel-card > .card {
    border-radius: 0%;
    flex-direction: row;
}

.card.panel-meteo-card .card-body .form-control {
    background-color: transparent;
    font-size: .7em;
    font-weight: bold;
    padding: 0;
}

.card.panel-meteo-card .card-footer {
    background-color: red;
    padding: 0.2em;
}

.card.panel-meteo-card .card-footer.on {
    background-color: green;
}