.card-body-division {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.card-body-division .division {
	display: flex;
	flex-wrap: wrap;
	height: 45%;
	width: 100%;
}

.card-body-division .division .card-body {
	height: fit-content;
}

.card-body-division .division .col-division {
	flex: 0 0 24%;
	width: 24%;
}