body {
  overflow-y: hidden;
  width: 100%;
  height: 100% !important;
}

/*Alert Message*/
.ui-messages-grow {
  -webkit-margin-top: 0px;
  margin-top: 0x;
}

/*DIV PMV BOARD*/
.pmv-board {
  border: none;
  margin-top: 1.5%;
}

.equip-info {
  font-size: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
}

#page-pmv {
  position: relative;
}

.equip-info .tableStyle {
  position: relative;
  font-size: 10px;
  width: 250px;
  height: 69px;
  border: none;
  background: #333333;
  border-right: 6px solid #00fa9a;
  border-radius: 0;
}

.dms-name {
  margin-bottom: -5px;
}

.dmsTab p {
  height: 15px;
}

.border-table {
  border-top-style: solid;
  height: 17px;
  border-left-style: solid;
  background-color: #5d5d5d;
  border-color: #000000;
  border-width: 1px;
}

.border-table-right.bottom {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.border-table-right {
  border-right-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.padding-pmv {
  padding-left: 0px;
  margin-left: -5px;
  margin-top: 3px;
}

.ui-graphic-image {
  width: 52px;
  height: 52px;
}

.msg-pos {
  position: absolute;
  right: 5px;
  bottom: 3px;
}

.table-message {
  width: 150px;
  color: yellow;
}

/*TABLES EQUIP PREVIEW*/
.responsive {
  height: 380px;
}

.confBtn {
  margin-left: 20% !important;
  height: 28px;
  font-size: 9pt !important;
  margin-top: 10px !important;
  text-align: center;
}
.ui-selectonelistbox {
  height: 210px !important;
  width: auto !important;
}
.inputDesign {
  height: 25px !important;
}
.conf2Btn {
  margin-top: 10px !important;
}

#table-message {
  position: absolute;
  margin-top: 2%;
  margin-left: 25%;
  width: 65% !important;
}
.fa-keyboard,
.fa-file-signature,
.fa-key,
.fa-th-large {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 18px !important;
}

.jumbotron {
  margin: 0 10px;
  position: fixed;
  padding-top: 1rem;
  top: 75px;
  bottom: 60px;
  right: 5px;
  left: 5px;
}

::-webkit-scrollbar {
  display: none;
}

/*TABLES MSG EQUIP PREVIEW*/

/*PICTURE BOX GRAPHIC BOARD*/
.ui-graphic-board {
  width: 100%;
  height: 95px;
  margin-left: -5px !important;
}

/*TABLES EQUIP PREVIEW*/

/*DIV EQUIP PREVIEW*/

/*DIV das mensagens*/
#message-edit-content {
  position: relative;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 36%;
  height: 525px;
  margin-left: 63.25%;
  margin-top: 0%;
  background: #f8f8ff;
  overflow: hidden;
  background: #b0e0e6;
}

.message-title-div {
  text-align: center;
  color: #000;
}

/*FIELDS DIV*/
#picture-selection {
  width: 100%;
  height: auto;
  margin-top: 5%;
  border: 1px solid transparent;
}

#id-info {
  border: none;
  width: 100px;
  height: 40px;
  margin-left: 12%;
  margin-top: 4%;
}

/* IMAGE DIV SELECTION */
#image-content {
  width: 15%;
  border: 1px solid transparent;
}

#image-label {
  width: 100%;
  height: 20px;
  border: none;
  color: #fff;
  background: #212121;
  font-size: 12px;
  text-align: center;
}
.selectType {
  text-align-last: center;
  text-align: center;
  height: 25px !important;
  padding: 0px;
  font-size: 9pt;
  border: solid 1px #767676;
  border-radius: 25px;
  background: white;
  -webkit-box-shadow: 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.55);
}

/* INPUT ICONS */

.fa-keyboard,
.fa-file-signature,
.fa-key,
.fa-th-large {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 24px;
}

.fa-user,
.fa-id-badge,
.fa-traffic-light {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 24px;
}

/* INPUT ICONS */
.picture-table {
  width: 65%;
}

#type-div {
  margin-top: 0;
}

#name-div {
  margin-top: 0;
}

#input-message-1 {
  resize: none;
}

#input-message-2 {
  resize: none;
}

#input-message-3 {
  resize: none;
}
/*TEXT AREA COMPONENTS DIV's*/

/*TEXT AREA COMPONENT INPUT */

/*Font Size and Height - Inputs*/
.input-group input {
  font-size: 10px;
}

.select {
  font-size: 14px;
  height: 50px;
}

/*TEXT AREA COMPONENT INPUT */

/*FIELDS DIV*/

/*TEXT AREA DIV*/
#text-area {
  margin-top: 5%;
  height: 50px;
  width: 80%;
  border: 1px solid transparent;
  background: #a8a8a8;
}

/*DIV OCULTA PARA LISTAS DE IMAGENS (SELECONELISTBOX)*/
#list-images {
  display: none;
  width: 68px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: auto;
}

/*CONTAINER DAS IMAGENS - SELECTONELISTBOX*/
.ui-selectlistbox-listcontainer {
  height: 100% !important;
  width: auto !important;
}

.ui-selectlistbox-list {
  width: auto !important;
}

/* ITENS - SELECTONELISTBOX*/
.ui-selectlistbox-item {
  height: 65px;
}

/*TEXT AREA DIV*/

/*BOT�ES TEXT AREA DIV*/
#actions {
  position: relative;
  float: left;
  border: none;
  width: 94%;
  height: 50px;
  margin-left: 3%;
  margin-top: 0%;
}

.btn-available {
  background-color: #a8a8a8 !important;
  color: black !important;
}

/*BOT�ES TEXT AREA DIV*/
.message-bagde:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 5px #333333);
}

.fa {
  color: white;
}

.fa-hand-pointer {
  font-size: 16px !important;
}

/* Bot�es da Tabela */
.table {
  margin-top: 0%;
}

#table-edit,
#table-create,
#table-delete,
#table-refresh {
  float: left;
  margin-top: 0px;
  border: none;
}

#table-refresh {
  display: none;
  width: 25px;
  height: 30px;
  margin-left: 8px;
  margin-top: 6px;
  border: none;
}

.close-link {
  text-decoration: none;
}

.fa-times {
  margin-left: 5px;
  color: white;
}

#table-edit {
  margin-left: 10px;
}

#table-create {
  margin-left: 8px;
}

#table-delete {
  margin-left: 8px;
}

/*BOT�ES NA TABELA*/

/* TABLE ENTRIES */
.dataTables_length {
  margin-left: 35% !important;
}

/*DATATABLE MESSAGES*/
.table-messages {
  font-size: 9px !important;
  font-weight: bold;
  text-align: center !important;
  margin-top: 1%;
}

.idColumn,
.typeColumn,
.nameColumn,
.imageColumn .textColumn,
.actionColumn {
  vertical-align: middle !important;
}

.button-tb-select {
  width: 40px;
  height: 40px;
}

/* TABLE SELECTED */
.table-striped > tbody > tr.selected > td {
  background: #a9d0f5; /*#A9D0F5*/
  color: #000;
}

/*DATATABLE MESSAGES*/

.tabelaDetails {
  height: 100%;
}

.formConteudo {
  margin-top: 20px;
}

.confInput {
  margin-top: 10px;
}

.linha2 {
  margin-top: 20px;
}

.confIcone {
  font-size: 60pt;
  color: black;
}
.confBtn {
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
}
.conf2Btn {
  margin-top: 10px;
}
.confIcone:hover {
  font-size: 58pt;
  color: yellow;
  -webkit-box-shadow: 0px 9px 10px 2px;
  -moz-box-shadow: 0px 9px 10px 2px;
  box-shadow: 0px 9px 10px 2px;
  color: yellow;
  cursor: pointer;
}
.inputDesign {
  text-align: center;
  height: 29px;
  font-size: 9pt;
  border: solid 1px #767676;
  border-radius: 25px;
  background: white;
  -webkit-box-shadow: 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.55);
}
select {
  text-align: center;
}
.inputDesign:focus {
  border-bottom: 2px solid #1c86ee; /*#dc3545*/
  box-shadow: 2px 2px 2px #1c86ee;
}
.iconeSpan {
  margin-top: -3px;
  position: absolute;
  padding-left: 2%;
  color: #292525;
  height: 40px;
  z-index: 999;
}

.text-timer {
  font-size: 12px;
}

.edit-pmv-page {
  position: absolute;
  top: 125px;
  display: none;
}

.edit-pmv-page.active {
  display: block;
}

.page-button {
  width: 25px;
}

.bar-width {
  width: 80px;
}

.bar-width .input-group-text {
  padding: 5px;
}

.edit-field {
  position: relative;
  display: none;
  top: 143px;
}

.edit-field.active {
  display: flex;
}

.equip-info {
  display: none;
}

.equip-info.active {
  display: revert;
}

th.pageTable2,
th.pageTable3,
th.pageTable4,
th.pageTable5,
td[class^="pageTable"] {
  display: none;
}

td[class^="pageTable"].active {
  display: revert;
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

tbody tr {
  cursor: pointer;
}

.dataTables_filter {
  width: max-content;
  margin-left: auto;
}

#disableTable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  font-size: xxx-large;
  color: white;
  background-color: #21212188;
  display: none;
}

#disableTable.active {
  display: revert;
}

.table-responsive {
  position: relative;
}

#image-div {
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
