body {
  overflow-y: hidden;
  width: 100%;
  height: 100% !important;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  display: none;
}

/*DIV PMV BOARD*/
.pmv-board {
  border: none;
  margin-top: 1.5%;
}

.equip-info {
  font-size: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
}

#page-pmv {
  position: relative;
}

.equip-info .tableStyle {
  position: relative;
  font-size: 10px;
  width: 250px;
  height: 69px;
  border: none;
  background: #333333;
  border-right: 6px solid #00fa9a;
  border-radius: 0;
}

.dms-name {
  margin-bottom: -5px;
}

.dmsTab p {
  height: 15px;
}

.border-table {
  border-top-style: solid;
  height: 17px;
  border-left-style: solid;
  background-color: #5d5d5d;
  border-color: #000000;
  border-width: 1px;
}

.border-table-right.bottom {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.border-table-right {
  border-right-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.padding-pmv {
  padding-left: 0px;
  margin-left: -5px;
  margin-top: 3px;
}

.ui-graphic-image {
  width: 52px;
  height: 52px;
}

.msg-pos {
  position: absolute;
  right: 5px;
  bottom: 3px;
}

.table-message {
  width: 150px;
  color: yellow;
}

/*TABLES EQUIP PREVIEW*/
.responsive {
  height: 380px;
}

.confBtn {
  margin-left: 20% !important;
  height: 28px;
  width: 60%;
  font-size: 9pt !important;
  margin-top: 10px !important;
  text-align: center;
}

.jumbotron {
  margin: 0 10px;
  position: fixed;
  padding-top: 1rem;
  top: 75px;
  bottom: 60px;
  right: 5px;
  left: 5px;
}

.message-title-div {
  text-align: center;
  color: #000;
}

.selectType {
  text-align-last: center;
  text-align: center;
  padding: 0px;
  border: solid 1px #767676;
  border-radius: 25px;
  background: white;
}

/* INPUT ICONS */

.fa-keyboard,
.fa-file-signature,
.fa-key,
.fa-th-large {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 18px !important;
}

#name-div {
  margin-top: 0;
}

#input-message-1 {
  resize: none;
}

#input-message-2 {
  resize: none;
}

#input-message-3 {
  resize: none;
}

/*Font Size and Height - Inputs*/
.input-group input {
  font-size: 10px;
}

/*DIV OCULTA PARA LISTAS DE IMAGENS (SELECONELISTBOX)*/
#list-images {
  display: none;
  width: fit-content;
  overflow: auto;
  height: auto;
}

.listbox {
  height: 210px;
}

#list-images div > img[id-img] {
  cursor: pointer;
}

.btn-available {
  background-color: #a8a8a8 !important;
  color: black !important;
}

.fa {
  color: white;
}

#table-edit,
#table-create,
#table-delete {
  float: left;
  margin-top: 0px;
  border: none;
}

#table-edit {
  margin-left: 10px;
}

#table-create,
#table-delete {
  margin-left: 8px;
}

.idColumn,
.typeColumn,
.nameColumn,
.imageColumn .textColumn,
.actionColumn {
  vertical-align: middle !important;
}

/*DATATABLE MESSAGES*/

.tabelaDetails {
  height: 100%;
}

.confInput {
  margin-top: 10px;
}

.conf2Btn {
  margin-top: 10px !important;
}

.inputDesign {
  text-align: center;
  font-size: 9pt;
  border: solid 1px #767676;
  border-radius: 25px;
  background: white;
}

.confInput .input-group * {
  height: 25px;
  font-size: 10px;
  min-width: 60px;
  display: block;
}

select {
  text-align: center;
}

.inputDesign:focus {
  border-bottom: 2px solid #1c86ee; /*#dc3545*/
  box-shadow: 2px 2px 2px #1c86ee;
}

.iconeSpan {
  margin-top: -3px;
  position: absolute;
  padding-left: 2%;
  color: #292525;
  height: 40px;
  z-index: 999;
}

.edit-pmv-page {
  position: absolute;
  top: 125px;
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

.edit-pmv-page.active {
  display: block;
}

.edit-pmv-page > div {
  min-width: 340px;
}

.timerBtn {
  padding: 0;
}

.page-button {
  width: 25px;
}

.bar-width {
  width: 65px;
}

.text-timer {
  padding-left: 3px;
}

.bar-width .input-group-text {
  padding: 5px;
}

.edit-field {
  position: relative;
  display: none;
  top: 143px;
}

.edit-field.active {
  display: flex;
}

th.pageTable2,
th.pageTable3,
th.pageTable4,
th.pageTable5,
td[class^="pageTable"] {
  display: none;
}

td[class^="pageTable"].active {
  display: revert;
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

tbody tr {
  cursor: pointer;
}

.dataTables_filter {
  width: max-content;
  margin-left: auto;
}

#disableTable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  font-size: xxx-large;
  color: white;
  background-color: #21212188;
  display: none;
}

#disableTable.active {
  display: revert;
}

.table-responsive {
  position: relative;
}

#image-div {
  cursor: pointer;
}

.equip-info .second-img {
  display: none;
}

.equip-info > .driver2 .msg-pos {
  bottom: 10px !important;
}

.equip-info > .driver2 .message2 {
  border-bottom-style: solid !important;
}

.equip-info > .driver2 .message3 {
  display: none !important;
}

.equip-info > .driver3 .msg-pos {
  right: 55px !important;
}

.equip-info > .driver3 .padding-pmv {
  margin-left: -10px !important;
}

.equip-info > .driver3 .second-img {
  display: revert !important;
  margin-right: 5px;
  padding-left: 0px;
  margin-top: 3px;
}

.equip-info > .driver3 .table-message {
  width: 110px !important;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* TEMPORARY CSS */

.temporaryboot {
  left: -130px;
}
