@charset "UTF-8";

/**
* Tracevia Application
*
* Popover Style
*
* Esta folha de estilo para o componente popover
*
* @project Tracevia Application
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @package css/util/popover.
*/

/* --------------------------------------------- */

/**
*
* Alterar cor do header do popover
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note alterar a cor do header do popover.
*/

.popover-header {
  background: #007bff !important;
  color: white;
  font-size: 12px;
}

/* --------------------------------------------- */

/**
*
* Tamanho da fonte do popover (body)
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note tamanho padrão para fontes do popover body.
*/

.popover-body {
  font-size: 12px;
}

/* --------------------------------------------- */

/**
*
* Margin para label do 1a. coluna do popover body
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note aplica um margin para esquerda em 10px.
*/

.equip-label-left {
  margin-left: 10px;
}

/* --------------------------------------------- */

/**
*
* Efeito ao passar o mouse pelo elemento
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note altera o cursor quando passar o mouse sobre o elemento.
*/
.on-mouse-hover {
  cursor: pointer;
}

/* --------------------------------------------- */

/**
*
* Definições para o popover
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note define um z-index de 10030 e um tamanho máximo de 632px.
*/

.popover {
	z-index: 10030;
	max-width: 632px;
}

/* --------------------------------------------- */

/**
*
* Definição de borda da tabela
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note define a borda da tabela e a cor de fundo do body da tabela.
*/

table.table-bordered > thead > tr > th, table.table-bordered > tbody > tr > td, table.table-bordered > tbody > tr > th{
    border:1px solid #696969;
    background-color: #DCDCDC;
}

/* --------------------------------------------- */

/**
*
* Define a cor para arrow icon (right)
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note define cor da borda quando o posicionamento está a esquerda.
*/

.custom-detail .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: #343a40;
}

/* --------------------------------------------- */

/**
*
* Define a cor para arrow icon (left)
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note define cor da borda quando o posicionamento está a direita.
*/

.custom-detail .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: #343a40;
}

/* --------------------------------------------------- */

/**
*
* Define uma fonte para a tabela
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note define a fonte para elementos no interior tabela.
*/
.popover-font-min{
	font-size: 10px !important;
}

/**
*
* Define a cor de fundo para linha total da tabela
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note define a cor de fundo diferenciada para a linha total.
*/

.bg-popover-total-color{
	 background-color: #c7c6d0 !important;
}

/**
*
* Aplica um efeito quando elemento estiver ativo (botão)
*
* @author Wellington
* @date 27/04/2022
* @version 1.0
* @since 1.0
* @note efeito visual para quando elemento estiver ativo.
*/
.detail-badge:active{
  	background-color: black !important;
}

/* --------------------------------------------- */