@charset "ISO-8859-1";

/* sat info div*/
.sat-badge {
  position: absolute;
  top: -2.15px;
  margin-left: -12px;
  background-color: #1e90ff;
  color: #ffffff !important;
  text-align: center;
  line-height: 15px;
  min-width: 15px;
  display: block;
  border-radius: 2px;
  float: left;
  cursor: pointer;
  z-index: 3; 
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  border: 1px solid black;
}

.info-badge{
	float: left;
	margin-left: -15px;
}

.detail-badge{
	margin-left: -15px;	
  	margin-top: 20px;
   	background-color: #000000;
}

/* sat info div*/
.sat-info-bagdex {
  position: absolute;
  top: -2.15px;
  margin-left: 95px;
  background-color: #00FA9A;
  color: #222 !important;
  text-align: center;
  line-height: 15px;
  min-width: 15px;
  display: block;
  border-radius: 2px;
  float: right;
  cursor: pointer;
  z-index: 3;
  text-indent: 0px;
  text-decoration: none;
  font-size: 9px;
  border: 1px solid black;
}

/* sat info icon hover */
.sat-info-bagde:hover {
  text-decoration: none;
  background: #ffc107;
  color: #555;
}

/* sat info icon focus */
.sat-info-bagde:focus {
  background: #000080;
  outline: none;
}

/* EQUIPS SATS*/
.equip-box-sat {
  position: absolute;
  z-index: 1; /* n�mero m�ximo � 9999 */
  height: 75px;
  width: 100px;
}

.satName {
  font-size: 10px;
}

/*Table Sat*/
.table-sat {
  text-align: center;
  table-layout: auto !important;
  color: #212121;
  font-size: 10px;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.padding-sat {
  padding: 0;
  width: 45px;
}

/*REAL TIME SAT*/

.fluxo {
  top: 78px !important;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 44px;
  opacity: 0.8;
  border: 1px solid transparent;
}

.fluxo-vertical{
  position: absolute;
  overflow: hidden;
  width: 90%;
  top: 10px !important;
  left: -70px;
  opacity: 0.8;
  border: 1px solid transparent;   
  transform: rotate(90deg);
}

.fluxo div, .fluxo-vertical div {
  height: 9px;
}

.fluxo-2-margin {
  padding-bottom: 12px;
}

.padding-sat .km {
  font-size: 7px;
}

.sat-cars {
  float: left;
  font-size: 10px;
  /*color: #878d8d;*/
  margin-top: 3px;
  margin-left: 0.75px;
}

.sat-speed {
  float: left;
  font-size: 10px;
  margin-top: 3.5px;
  margin-left: 0.75px;
  /*color: #878d8d;*/
}
